<div class="transfer">
<mdb-card>
    <mdb-card-header>
            <img class="tranfer-icon" src="assets/icons/arrows.png"> {{ 'i18n.TRANSFER_Title' | translate }}
    </mdb-card-header>
    <div class="errorMsg main-error" *ngIf="overDraftError">{{ 'i18n.TRANSFER_MainError' | translate }}</div>
    <mdb-card-body>
          <form [formGroup]="transferForm" class="text-center needs-validation" novalidate>
            <div class="md-form">
            <label for="fromAcc">{{ 'i18n.TRANSFER_FromAccount' | translate | uppercase }}</label>
              <input [readonly]="true" type="text" id="fromAcc" value="Free Checking(4692) - ${{initialBalance | number : '1.2-2'}}" class="form-control" formControlName="fromAcc" aria-labelledby="fromAcc" mdbInput>
            </div>
            <div class="md-form">
                <label for="toAcc">{{ 'i18n.TRANSFER_ToAccount' | translate | uppercase }}</label>
                  <input data-mdb-toggle="tooltip" title="{{ 'i18n.TRANSFER_ToAccTip' | translate }}" [(ngModel)]="merchantName" [readonly]="confirmBtn" type="text" id="toAcc" placeHolder="Please Enter To Account" class="form-control" formControlName="toAcc" aria-labelledby="toAcc" mdbInput>
                  <div class="errorMsg" *ngIf="merchantName.length <= 0">{{ 'i18n.TRANSFER_ToAccError' | translate }}</div>
            </div>
            <div class="md-form">
                <label for="amount">{{ 'i18n.TRANSFER_Amount' | translate | uppercase }}</label>
                  <span class="input-group-addon" id="currency-addon">$</span>
                  <input data-mdb-toggle="tooltip" title="{{ 'i18n.TRANSFER_AmountTip' | translate }}" [readonly]="confirmBtn" [(ngModel)]="amount" name="amount" type="text" id="amount" class="form-control amount-align" placeHolder="0.00" formControlName="amount" aria-labelledby="amount" (ngModelChange)="checkAmount()" 
                  appOnlyNumber (keyup)="checkOverDraft()">
                  <div class="errorMsg" *ngIf="showError">{{ 'i18n.TRANSFER_AmountError' | translate }}</div>
            </div>
      
            <button mdbBtn *ngIf="!confirmBtn" class="submit-btn btn btn-primary" type="submit" color="deep-orange" (click)="confirmBtn = 'true'" [disabled]="showError || amount == undefined || overDraftError || merchantName.length <= 0" mdbWavesEffect>{{ 'i18n.TRANSFER_Submit' | translate }}</button>
            <div>
            <button *ngIf="confirmBtn" mdbBtn class="cancel-btn btn btn-primary" type="submit" color="deep-orange" (click)="cancel()" mdbWavesEffect>{{ 'i18n.TRANSFER_Cancel' | translate }}</button>
            <button *ngIf="confirmBtn" mdbBtn class="transfer-btn btn btn-primary" type="submit" color="deep-orange" (click)="submit()" mdbWavesEffect>{{ 'i18n.TRANSFER_Transfer' | translate }}</button>
            </div>
          </form>
        </mdb-card-body>
    </mdb-card>
</div>
