.app-container {  
    height: 650px;  
    color: #fff;
    background-image: url("/assets/background.jpg");  
    background-size: 100% ;  
    background-size: cover;  
    border-top: 2px solid #ff7043;
    display: table;
}
.app-row {
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
}
.logo-container {
    float: left;
}
.logo-align {
    width: 25em;
    margin-left: 5em;
}
.lang-dropdown {
    float: right;
}
/* For mobile phones: */
[class*='col-'] {
    width: 100%;
}