.transfer {
    .card-header {
        text-align: center;
        background-color: #0c8397;
        padding: 5px;
    }
    .card-header:first-child {
        border-radius: 0px;
    }
    .card {
        width: 100%;
        border-radius: 0px;
    }
    label {
        display: table;
        color: black;
        margin-top: .5rem;
        font-weight: bolder !important;
        font-size: 10px;
    }

    input, input:focus  {
        outline: 0;
        border-width: 0 0 2px;
        border-color: lightgrey;
        margin-top: -10px;
    }
    .form-control:focus {
        box-shadow: none;
    }
    .form-control {
        padding: 0;
        font-size: 12px;
        color: #A9A9A9;
        border-radius: 0px;
    }
    .submit-btn {
        border-radius: 5px;
        float: right;
        padding: 5px 50px 5px 50px;
        margin-top: 40px;
    }
    .cancel-btn,  .cancel-btn:hover, .cancel-btn:focus, .cancel-btn:active{
        border-radius: 5px;
        float: left;
        padding: 5px 5px 5px 5px;
        margin-top: 40px;
        background-color: white !important;
        color: black;
        font-weight: bold;
    }
    .transfer-btn {
        border-radius: 5px;
        float: right;
        padding: 5px 15px 5px 15px;
        margin-top: 40px;
    }
    .form-control:disabled, .form-control[readonly] {
        background-color: transparent;
        opacity: 1;
    }
    .tranfer-icon {
        width : 20px;
        float: left;
    }
    .input-group-addon {
        color: #A9A9A9;
        position: absolute;
        bottom: 113px;
        left: 20px;
    }
    .amount-align {
        padding-left: 10px;
    }
    .invalid-feedback {
        position: absolute;
        right: 50px;
    }
    .errorMsg {
        color: #de0909;
        position: absolute;
    }
    .main-error {
        padding-top: 35px;
        padding-left: 20px;
    }
    .md-form {
        padding-bottom: 10px;
    }
}