.transaction {
    .card-header {
        text-align: center;
        background-color: #0c8397;
        padding: 5px;
        padding: 10px;
        font-size: 15px;
    }
    .card-header:first-child {
        border-radius: 0px;
    }
    .card {
        width: 100%;
        border-radius: 0px;
    }
    .card-body {
        width: 100%;
        padding: 20px 0px 15px 5px;
    }
    .txn-icon {
        width : 20px;
        float: left;
    }
    .my-custom-scrollbar {
        position: relative;
        height: 445px;
        overflow-y: auto;
        margin: 0px 10px 0px 10px;
        border-color: lightgrey;
    }
    .table-wrapper-scroll-y {
        display: block;
    }
    .row-align {
        padding: 3px;
    }
    .merchant-icon {
        width: 30px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    input, input:focus  {
        outline: 0;
        border-width: 0 0 2px;
        border-color: lightgrey;
        margin-top: -10px;
    }
    .form-control:focus {
        box-shadow: none;
    }
    .form-control {
        padding: 0;
        font-size: 12px;
        color: #A9A9A9;
        border-radius: 0px;
    }
    .sort-header {
        color: #080808;
        font-weight: 500;
        padding-left: 0px;
        display: contents;
    }
    .sort-params {
        display: inline-block;
        border: 1px solid lightgray;
        padding: 2px 15px 2px 15px;
        cursor: pointer;
        font-size: 10px;
    }
    .sort-title {
        padding-right: 10px;
        padding-left: 15px;
    }
    .sort-icon {
        width: 15px;
        float: right;
        padding-left: 6px;
        opacity: 0.5;
    }
    .bold-txt {
        font-weight: bold;
    }
    table.table td, table.table th {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .hide-sort{
        display: none;
    }
    .search-icon-close:before {
        content: "✕";
        cursor: pointer;
        color: black;
        float: right;
        position: relative;
        margin-top: -20px;
        font-weight: bold;
        font-style: normal;
    }
    .date-align {
        width: 15%;
    }
    .amount-align {
        text-align: right;
    }
}