/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import './themes/_transfer.scss';
@import './themes/_transaction.scss';

html, body { height: 100%; }
body { margin: 0; font-size: 12px; font-family : 'Kanit'; font-weight: 300}
